{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>profile</title>
</head>
<body>
    <section id="first" class="main special">
      
    </section>
    <footer id="footer">
        <section>
            <h2>Search</h2>
            <p>Would you like to find a specific user's profile?👋 You can search by username and connect with others easily! 🔍</p>
            <ul class="actions">
                <li><a href="/user_search" class="button">Profile search</a></li>
            </ul>
        </section>

        <section>
            <h2>Main Page</h2>
            <p>🏠 Go to Home</p>
            <ul class="actions">
                <li><a href="{% url "home" %}" class="button">Home page</a></li>
            </ul>
        </section>
        
    </footer>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>