{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>profile</title>
</head>
<body>
    <section id="first" class="main special">
        <header class="major">
            <h2>{{ profile.user.username }}</h2>
        </header>
        <ul class="reg-form">
            
                
                <h1>Профиль: {{ profile.user.username }}</h1>
                <img src="/media/avatars/default.jpg" alt="Аватар по умолчанию">
                <p>{{ profile.bio }}</p>
                <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
                <a href="{% url 'logout' %}">Выйти</a>
            
        </ul>
        
    </section>
    <footer id="footer">
        <section>
            <h2>Posts</h2>
            <p>The "Create Post" button lets you share your thoughts with the world! 🌍✨ Click it to open a form where you can add a title and content for your post. 
                Once published, your post will be live for others to see and engage with. Get creative and start sharing! 🚀🎨</p>
            <ul class="actions">
                <li><a href="http://127.0.0.1:8000/post/new/" class="button">Create Post</a></li>
            </ul>
        </section>

        <section>
            <h2>Main Page</h2>
            <p>🏠 Go to Home</p>
            <ul class="actions">
                <li><a href="{% url "home" %}" class="button">Home page</a></li>
            </ul>
        </section>
        
    </footer>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>