{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>Registration</title>
</head>
<body>
    <section id="first" class="main special">
        <header class="major">
            <h2>Registration</h2>
        </header>
        <ul class="reg-form">
            <li>
                <span class="icon solid major style1 fa-code"></span>
                <h1>Профиль: {{ profile.user.username }}</h1>
                <img src="{{ profile.avatar.url }}" width="100">
                <p>{{ profile.bio }}</p>
                <a href="{% url 'edit_profile' %}">Редактировать профиль</a>
                <a href="{% url 'logout' %}">Выйти</a>
            </li>
        </ul>
        
    </section>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>