{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>profile</title>
</head>
<body>
    <section id="first" class="main special">
        <h2>Профиль пользователя {{ profile_user.username }}</h2>

        <p>Email: {{ profile_user.email }}</p>

        {% if profile_user == request.user %}
            <p>Это ваш профиль!</p>
        {% else %}
            <p>Вы просматриваете профиль другого пользователя.</p>
        {% endif %}

        <a href="{% url 'user_search' %}">🔍 Найти другого пользователя</a>
    </section>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>