{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>Login</title>
</head>
<body>
    <section id="first" class="main special">
        <header class="major">
            <h2>Profile Edit</h2>
        </header>
        <ul class="login-form">
            <li>
                <span class="icon solid major style1 fa-code"></span>
                <form method="get">
                    {{ form.as_p }}
                    <button type="submit">Найти</button>
                </form>               
                {% if users %}
                    <h2>Результаты поиска:</h2>
                    <ul>
                        {% for user in users %}
                            <li><a href="{% url 'profile' user.username %}">{{ user.username }}</a></li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Пользователи не найдены.</p>
                {% endif %}
            </li>
        </ul>
        
    </section>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>