{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
	<noscript><link rel="stylesheet" href="{% static 'assets/css/noscript.css' %}" /></noscript>
    <title>Login</title>
</head>
<body>
    <section id="first" class="main special">
        <header class="major">
            <h2>Profile Search</h2>
        </header>
        <ul class="login-form">              
                <form method="get">
                    {{ form.as_p }}
                    <button type="submit">🕵️‍♂️🔎</button>
                </form>               
                {% if users %}
                    <h2>Results:</h2>
                    <ul>
                        {% for user in users %}
                            <a href="{% url 'profile' user.username %}">{{ user.username }}</a>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>Profile does not exist</p>
                {% endif %}
        </ul>        
    </section>
     <!-- Footer -->
    <footer id="footer">
        <section>
            <h2>Info</h2>
            <p>For more details, documentation, and updates, visit GitHub. Feel free to explore, modify, and contribute! 🚀💻</p>
            <ul class="actions">
                <li><a href="https://github.com/Saintesst/Stellar-Blog" class="button">Learn More</a></li>
            </ul>
        </section>

        <section>
            <h2>Search</h2>
            <p>Would you like to find a specific user's profile?👋 You can search by username and connect with others easily! 🔍</p>
            <ul class="actions">
                <li><a href="{% url "home" %}" class="button">Home page</a></li>
            </ul>
        </section>
        
    </footer>
    <!-- Scripts -->
			<script src="{% static 'assets/js/jquery.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrollex.min.js' %}"></script>
			<script src="{% static 'assets/js/jquery.scrolly.min.js' %}"></script>
			<script src="{% static 'assets/js/browser.min.js' %}"></script>
			<script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
			<script src="{% static 'assets/js/util.js' %}"></script>
			<script src="{% static 'assets/js/main.js' %}"></script>
</body>
</html>